{
    "openapi": "3.0.3",
    "info": {
        "title": "Fleetbase API",
        "description": "# Introduction\n\nThe Fleetbase API is organized around REST. Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We support cross-origin resource sharing, allowing you to interact securely with our API from a client-side web application (though you should never expose your secret API key in any public website's client-side code). JSON is returned by all API responses, including errors, although our API libraries convert responses to appropriate language-specific objects.\n\nTo make the API as explorable as possible, accounts have test mode and live mode API keys. There is no \"switch\" for changing between modes, just use the appropriate key to perform a live or test transaction. Requests made with test mode credentials never hit the banking networks and incur no cost.\n\n# Authentication\n\nThe Fleetbase API uses API keys to authenticate requests. You can view and manage your API keys in the Fleetbase Developers Console.\n\nTest mode secret keys have the prefix `flb_test_` and live mode secret keys have the prefix `flb_live_`. Alternatively, you can use restricted API keys for granular permissions.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API keys in publicly accessible areas such as GitHub, client-side code, and so forth. Authentication to the API is performed via HTTP Basic Auth. Provide your API key as the basic auth username value. You do not need to provide a password. Or use your API key by setting it in the initial configuration of a Fleetbase SDK Client. The SDK will then automatically send this key in each request.\n\nAll API requests must be made over HTTPS. Calls made over plain HTTP will fail. API requests without authentication will also fail.\n\n# Errors\n\nFleetbase uses conventional HTTP response codes to indicate the success or failure of an API request. In general: Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error that failed given the information provided (e.g., a required parameter was omitted, a order failed, etc.). Codes in the `5xx` range indicate an error with Fleetbase's servers (these are rare).\n\nSome `4xx` errors that could be handled programmatically (e.g., route automation fails) include an error code that briefly explains the error reported.\n\n## Handling Errors\n\nOur Client libraries raise exceptions for many reasons, such as a route automation failed, invalid parameters, authentication errors, and network unavailability. We recommend writing code that gracefully handles all possible API exceptions.\n\nContact Support:  \nName: Fleetbase Pte Ltd.  \nEmail: [hello@fleetbase.io](https://mailto:hello@fleetbase.io)",
        "version": "1.0.0",
        "contact": {}
    },
    "servers": [{ "url": "https://api.fleetbase.io/v1" }],
    "paths": {
        "/places": {
            "get": {
                "tags": ["Places"],
                "summary": "Query Places",
                "description": "Returns a list of your places. The places are returned sorted by creation date, with the most recent customers appearing first.",
                "operationId": "queryPlaces",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "schema": { "type": "string", "example": "{{place_name}}" },
                        "description": "This parameter allows you to filter the results by their name."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": { "type": "string", "example": "25" },
                        "description": "A cursor for use in pagination. A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": { "type": "string", "example": "<string>" },
                        "description": "A cursor for use in pagination. A offset for the results, when the offset is supplied the results will start from the offset."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": { "type": "string", "example": "created_at" },
                        "description": "A cursor used to sort results. Sort can be any property of the object, to sort descending sort must append the minus symbol. To sort by created date descending sort would be `-created_at` to sort in ascending order the sort would be `created_at`."
                    }
                ],
                "responses": { "200": { "description": "" } }
            },
            "post": {
                "tags": ["Places"],
                "summary": "Create a Place",
                "description": "When you create a place, you must specify a name and latitude and longitude coordinates.\n\nFleetbase will run a reverse geocode automatically on the provided coordinates to automatically complete the address when the optional fields are not provided.",
                "operationId": "createAPlace",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "street1": {
                                        "type": "string",
                                        "example": "830 5th Ave, NY, NY"
                                    }
                                }
                            },
                            "examples": {
                                "Create a Place": {
                                    "value": { "street1": "830 5th Ave, NY, NY" }
                                }
                            }
                        }
                    }
                },
                "responses": { "200": { "description": "" } }
            }
        },
        "/places/{id}": {
            "get": {
                "tags": ["Places"],
                "summary": "Retrieve a Place",
                "description": "This endpoint allows you to retrieve a place object to view it's details.",
                "operationId": "retrieveAPlace",
                "responses": { "200": { "description": "" } }
            },
            "put": {
                "tags": ["Places"],
                "summary": "Update a Place",
                "description": "Updates the specified place by setting the values of the parameters passed. Any parameters not provided will be left unchanged. For example, if you pass the location parameter, that becomes the place's new location to be used for all spatial queries in the future. \n\nThis request accepts mostly the same arguments as the place creation call.",
                "operationId": "updateAPlace",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "building": {
                                        "type": "string",
                                        "example": "Park Area"
                                    },
                                    "city": { "type": "string", "example": "New York" },
                                    "country": { "type": "string", "example": "US" },
                                    "district": { "type": "string", "example": "Midtown" },
                                    "name": {
                                        "type": "string",
                                        "example": "Central Park Edit"
                                    },
                                    "neighborhood": {
                                        "type": "string",
                                        "example": "Manhattan"
                                    },
                                    "phone_country_code": { "type": "string", "example": "+1" },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "212-310-6600"
                                    },
                                    "postal_code": { "type": "string", "example": "10065" },
                                    "province": { "type": "string", "example": "New York" },
                                    "street1": {
                                        "type": "string",
                                        "example": "830 5th Ave a "
                                    },
                                    "type": { "type": "string", "example": "Park" }
                                }
                            },
                            "examples": {
                                "Update a Place": {
                                    "value": {
                                        "building": "Park Area",
                                        "city": "New York",
                                        "country": "US",
                                        "district": "Midtown",
                                        "name": "Central Park Edit",
                                        "neighborhood": "Manhattan",
                                        "phone_country_code": "+1",
                                        "phone_number": "212-310-6600",
                                        "postal_code": "10065",
                                        "province": "New York",
                                        "street1": "830 5th Ave a ",
                                        "type": "Park"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Update a Place",
                        "headers": {
                            "Cache-Control": {
                                "schema": {
                                    "type": "string",
                                    "example": "no-cache, private"
                                }
                            },
                            "Connection": {
                                "schema": { "type": "string", "example": "keep-alive" }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Wed, 27 Dec 2023 07:43:57 GMT"
                                }
                            },
                            "Server": {
                                "schema": { "type": "string", "example": "nginx" }
                            },
                            "Transfer-Encoding": {
                                "schema": { "type": "string", "example": "chunked" }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "address": {
                                            "type": "string",
                                            "example": "CENTRAL PARK EDITED - 830 5TH AVE, NEW YORK, 10065, UNITED STATES"
                                        },
                                        "building": {
                                            "type": "string",
                                            "example": "Park Area"
                                        },
                                        "city": {
                                            "type": "string",
                                            "example": "New York"
                                        },
                                        "country": { "type": "string", "example": "US" },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2023-12-27T07:25:36.000000Z"
                                        },
                                        "district": {
                                            "type": "string",
                                            "example": "Midtown"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "place_n0voYdE"
                                        },
                                        "location": {
                                            "type": "object",
                                            "properties": {
                                                "coordinates": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "number",
                                                        "example": -73.9712519
                                                    },
                                                    "example": [-73.9712519, 40.7676307]
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "example": "Point"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "array",
                                            "items": {},
                                            "example": []
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Central Park Edited"
                                        },
                                        "neighborhood": {
                                            "type": "string",
                                            "example": "Manhattan"
                                        },
                                        "owner": { "nullable": true, "example": null },
                                        "phone": { "nullable": true, "example": null },
                                        "postal_code": {
                                            "type": "string",
                                            "example": "10065"
                                        },
                                        "province": {
                                            "type": "string",
                                            "example": "New York"
                                        },
                                        "security_access_code": { "nullable": true, "example": null },
                                        "street1": {
                                            "type": "string",
                                            "example": "830 5th Ave"
                                        },
                                        "street2": { "nullable": true, "example": null },
                                        "type": { "type": "string", "example": "Park" },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2023-12-27T07:43:57.000000Z"
                                        }
                                    }
                                },
                                "examples": {
                                    "Update a Place": {
                                        "value": {
                                            "address": "CENTRAL PARK EDITED - 830 5TH AVE, NEW YORK, 10065, UNITED STATES",
                                            "building": "Park Area",
                                            "city": "New York",
                                            "country": "US",
                                            "created_at": "2023-12-27T07:25:36.000000Z",
                                            "district": "Midtown",
                                            "id": "place_n0voYdE",
                                            "location": {
                                                "coordinates": [-73.9712519, 40.7676307],
                                                "type": "Point"
                                            },
                                            "meta": [],
                                            "name": "Central Park Edited",
                                            "neighborhood": "Manhattan",
                                            "owner": null,
                                            "phone": null,
                                            "postal_code": "10065",
                                            "province": "New York",
                                            "security_access_code": null,
                                            "street1": "830 5th Ave",
                                            "street2": null,
                                            "type": "Park",
                                            "updated_at": "2023-12-27T07:43:57.000000Z"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Places"],
                "summary": "Delete a Place",
                "description": "Permanently deletes a place. It cannot be undone. ",
                "operationId": "deleteAPlace",
                "responses": {
                    "200": {
                        "description": "Delete a Place",
                        "headers": {
                            "Cache-Control": {
                                "schema": {
                                    "type": "string",
                                    "example": "no-cache, private"
                                }
                            },
                            "Connection": {
                                "schema": { "type": "string", "example": "keep-alive" }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Wed, 27 Dec 2023 07:44:36 GMT"
                                }
                            },
                            "Server": {
                                "schema": { "type": "string", "example": "nginx" }
                            },
                            "Transfer-Encoding": {
                                "schema": { "type": "string", "example": "chunked" }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "deleted": { "type": "boolean", "example": true },
                                        "id": {
                                            "type": "string",
                                            "example": "place_n0voYdE"
                                        },
                                        "object": {
                                            "type": "string",
                                            "example": "place"
                                        },
                                        "time": {
                                            "type": "string",
                                            "example": "2023-12-27T07:44:36.000000Z"
                                        }
                                    }
                                },
                                "examples": {
                                    "Delete a Place": {
                                        "value": {
                                            "deleted": true,
                                            "id": "place_n0voYdE",
                                            "object": "place",
                                            "time": "2023-12-27T07:44:36.000000Z"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string", "example": "{{place_id}}" },
                    "description": "(Required) The id of the `Place`."
                }
            ]
        },
        "/service-areas": {
            "get": {
                "tags": ["Service Areas"],
                "summary": "Query Service Areas",
                "description": "This endpoint allows you to retrieve a service area object to view it's details.",
                "operationId": "queryServiceAreas",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "schema": { "type": "string", "example": "{{service_area_name}}" }
                    }
                ],
                "responses": { "200": { "description": "" } }
            },
            "post": {
                "tags": ["Service Areas"],
                "summary": "Create a Service Area",
                "description": "A service area is created by simply providing a city, province or country in which Fleetbase will reverse geocode into a service area.\n\nIf the service area cannot be reverse geocoded, Fleetbase will return an error.",
                "operationId": "createAServiceArea",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "country": { "type": "string", "example": "SG" },
                                    "location": {
                                        "type": "object",
                                        "properties": {
                                            "coordinates": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "example": "1.2838"
                                                },
                                                "example": ["1.2838", "103.8591"]
                                            },
                                            "type": {
                                                "type": "string",
                                                "example": "Point"
                                            }
                                        }
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "MBS Service Area"
                                    },
                                    "radius": { "type": "string", "example": "30000" },
                                    "status": { "type": "string", "example": "active" },
                                    "type": { "type": "string", "example": "city" }
                                }
                            },
                            "examples": {
                                "Create a Service Area": {
                                    "value": {
                                        "country": "SG",
                                        "location": {
                                            "coordinates": ["1.2838", "103.8591"],
                                            "type": "Point"
                                        },
                                        "name": "MBS Service Area",
                                        "radius": "30000",
                                        "status": "active",
                                        "type": "city"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": { "examples": { "OK": { "value": "" } } }
                        }
                    }
                }
            }
        },
        "/service-areas/{id}": {
            "get": {
                "tags": ["Service Areas"],
                "summary": "Retrieve a Service Area",
                "description": "This endpoint allows you to retrieve a service area object to view it's details.",
                "operationId": "retrieveAServiceArea",
                "responses": {
                    "200": {
                        "description": "OK / Retrieve a Service Area",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": { "type": "string", "example": "true" }
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string",
                                    "example": "Content-Type, Authorization, Referer, User-Agent, Signature, Customer-Token, Access-Control-Request-Headers, Access-Control-Request-Method, Origin"
                                }
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": { "type": "string", "example": "GET, OPTIONS" }
                            },
                            "Access-Control-Max-Age": {
                                "schema": { "type": "string", "example": "600" }
                            },
                            "Cache-Control": {
                                "schema": {
                                    "type": "string",
                                    "example": "no-cache, private"
                                }
                            },
                            "Connection": {
                                "schema": { "type": "string", "example": "keep-alive" }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 02 Jan 2024 03:10:47 GMT"
                                }
                            },
                            "Invalid": { "schema": { "type": "string", "example": "1" } },
                            "Server": {
                                "schema": { "type": "string", "example": "nginx" }
                            },
                            "Set-Cookie": {
                                "schema": {
                                    "type": "string",
                                    "example": "fleetbase_session=BZTQN5le6WBpsdEIXN5x9dJuLqtxL3hHlFoV8WTH; expires=Tue, 30-Jan-2024 03:10:47 GMT; Max-Age=2419200; path=/; domain=.fleetbase.io; httponly; samesite=lax"
                                }
                            },
                            "Transfer-Encoding": {
                                "schema": { "type": "string", "example": "chunked" }
                            },
                            "X-Frame-Options": {
                                "schema": { "type": "string", "example": "DENY" }
                            },
                            "X-RateLimit-Limit": { "schema": { "type": "string", "example": "60" } },
                            "X-RateLimit-Remaining": { "schema": { "type": "string", "example": "55" } }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "latitude": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "location": {
                                            "type": "object",
                                            "properties": {
                                                "coordinates": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "number",
                                                        "example": 0
                                                    },
                                                    "example": [0, 0]
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "example": "Point"
                                                }
                                            }
                                        },
                                        "longitude": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "created_at": "<string>",
                                            "id": "<string>",
                                            "latitude": "<string>",
                                            "longitude": "<string>",
                                            "name": "<string>",
                                            "status": "<string>",
                                            "type": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    },
                                    "Retrieve a Service Area": {
                                        "value": {
                                            "created_at": "2024-01-02T03:10:15.000000Z",
                                            "id": "sa_mdL7P0a",
                                            "location": {
                                                "coordinates": [0, 0],
                                                "type": "Point"
                                            },
                                            "name": "Charlotte, NC",
                                            "status": "active",
                                            "type": "city",
                                            "updated_at": "2024-01-02T03:10:15.000000Z"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Service Areas"],
                "summary": "Update a Service Area",
                "description": "You are only able to update the service area status",
                "operationId": "updateAServiceArea",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "status": { "type": "string", "example": "active" }
                                }
                            },
                            "examples": {
                                "Update a Service Area": { "value": { "status": "active" } }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "latitude": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "longitude": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "created_at": "<string>",
                                            "id": "<string>",
                                            "latitude": "<string>",
                                            "longitude": "<string>",
                                            "name": "<string>",
                                            "status": "<string>",
                                            "type": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Service Areas"],
                "summary": "Delete a Service Area",
                "description": "Use this endpoint to delete a service area, deleting a service area will also delete all of the zones within the service area.",
                "operationId": "deleteAServiceArea",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": { "type": "object", "properties": {} },
                                "examples": { "OK": { "value": {} } }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string", "example": "{{service_area_id}}" },
                    "description": "(Required) The id of the service area you want to delete."
                }
            ]
        },
        "/zones": {
            "get": {
                "tags": ["Zones"],
                "summary": "Query Zones",
                "description": "This endpoint allows you to retrieve a zone object to view it's details.",
                "operationId": "queryZones",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "schema": { "type": "string", "example": "{{zone_name}}" },
                        "description": "The id of the zone you want to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "coordinates": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "service_area": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "stroke_color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "color": "<string>",
                                            "coordinates": "<string>",
                                            "created_at": "<string>",
                                            "description": "<string>",
                                            "id": "<string>",
                                            "name": "<string>",
                                            "service_area": "<string>",
                                            "status": "<string>",
                                            "stroke_color": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Zones"],
                "summary": "Create a Zone",
                "description": "There is two primary ways to create a zone. The first method you can supply the boundary coordinates for the zone. The second method is you cann supply center coordinates and a radius in meters, and Fleetbase will automatically create a zone around the center coordinates.",
                "operationId": "createAZone",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "border": {
                                        "type": "object",
                                        "properties": {
                                            "bbox": {
                                                "type": "array",
                                                "items": {
                                                    "type": "number",
                                                    "example": 103.867493
                                                },
                                                "example": [103.867493, 1.35085, 103.912125, 1.383113]
                                            },
                                            "coordinates": {
                                                "type": "array",
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "number",
                                                            "example": 103.907661
                                                        },
                                                        "example": [103.907661, 1.362863]
                                                    },
                                                    "example": [
                                                        [103.907661, 1.362863],
                                                        [103.892555, 1.357714],
                                                        [103.891525, 1.353252],
                                                        [103.883629, 1.35085],
                                                        [103.874702, 1.351193],
                                                        [103.870583, 1.358744],
                                                        [103.867493, 1.368354],
                                                        [103.870926, 1.377621],
                                                        [103.875732, 1.38174],
                                                        [103.886032, 1.383113],
                                                        [103.900452, 1.383113],
                                                        [103.909721, 1.381397],
                                                        [103.912125, 1.374189],
                                                        [103.907661, 1.362863]
                                                    ]
                                                },
                                                "example": [
                                                    [
                                                        [103.907661, 1.362863],
                                                        [103.892555, 1.357714],
                                                        [103.891525, 1.353252],
                                                        [103.883629, 1.35085],
                                                        [103.874702, 1.351193],
                                                        [103.870583, 1.358744],
                                                        [103.867493, 1.368354],
                                                        [103.870926, 1.377621],
                                                        [103.875732, 1.38174],
                                                        [103.886032, 1.383113],
                                                        [103.900452, 1.383113],
                                                        [103.909721, 1.381397],
                                                        [103.912125, 1.374189],
                                                        [103.907661, 1.362863]
                                                    ]
                                                ]
                                            },
                                            "type": {
                                                "type": "string",
                                                "example": "Polygon"
                                            }
                                        }
                                    },
                                    "color": { "type": "string", "example": "#66e0ff" },
                                    "name": {
                                        "type": "string",
                                        "example": "Center of Singapore"
                                    },
                                    "service_area": {
                                        "type": "string",
                                        "example": "{{service_area_id}}"
                                    },
                                    "stroke_color": { "type": "string", "example": "#00bfff" }
                                }
                            },
                            "examples": {
                                "Create a Zone": {
                                    "value": {
                                        "border": {
                                            "bbox": [103.867493, 1.35085, 103.912125, 1.383113],
                                            "coordinates": [
                                                [
                                                    [103.907661, 1.362863],
                                                    [103.892555, 1.357714],
                                                    [103.891525, 1.353252],
                                                    [103.883629, 1.35085],
                                                    [103.874702, 1.351193],
                                                    [103.870583, 1.358744],
                                                    [103.867493, 1.368354],
                                                    [103.870926, 1.377621],
                                                    [103.875732, 1.38174],
                                                    [103.886032, 1.383113],
                                                    [103.900452, 1.383113],
                                                    [103.909721, 1.381397],
                                                    [103.912125, 1.374189],
                                                    [103.907661, 1.362863]
                                                ]
                                            ],
                                            "type": "Polygon"
                                        },
                                        "color": "#66e0ff",
                                        "name": "Center of Singapore",
                                        "service_area": "{{service_area_id}}",
                                        "stroke_color": "#00bfff"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "coordinates": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "service_area": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "stroke_color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "color": "<string>",
                                            "coordinates": "<string>",
                                            "created_at": "<string>",
                                            "description": "<string>",
                                            "id": "<string>",
                                            "name": "<string>",
                                            "service_area": "<string>",
                                            "status": "<string>",
                                            "stroke_color": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Create a Zone",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": { "type": "string", "example": "true" }
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string",
                                    "example": "Content-Type, Authorization, Referer, User-Agent, Signature, Customer-Token, Access-Control-Request-Headers, Access-Control-Request-Method, Origin"
                                }
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": { "type": "string", "example": "GET, OPTIONS" }
                            },
                            "Access-Control-Max-Age": {
                                "schema": { "type": "string", "example": "600" }
                            },
                            "Cache-Control": {
                                "schema": {
                                    "type": "string",
                                    "example": "no-cache, private"
                                }
                            },
                            "Connection": {
                                "schema": { "type": "string", "example": "keep-alive" }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 02 Jan 2024 05:54:57 GMT"
                                }
                            },
                            "Invalid": { "schema": { "type": "string", "example": "1" } },
                            "Server": {
                                "schema": { "type": "string", "example": "nginx" }
                            },
                            "Set-Cookie": {
                                "schema": {
                                    "type": "string",
                                    "example": "fleetbase_session=BZTQN5le6WBpsdEIXN5x9dJuLqtxL3hHlFoV8WTH; expires=Tue, 30-Jan-2024 05:54:57 GMT; Max-Age=2419200; path=/; domain=.fleetbase.io; httponly; samesite=lax"
                                }
                            },
                            "Transfer-Encoding": {
                                "schema": { "type": "string", "example": "chunked" }
                            },
                            "X-Frame-Options": {
                                "schema": { "type": "string", "example": "DENY" }
                            },
                            "X-RateLimit-Limit": { "schema": { "type": "string", "example": "60" } },
                            "X-RateLimit-Remaining": { "schema": { "type": "string", "example": "58" } }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "coordinates": {
                                            "type": "array",
                                            "items": {},
                                            "example": []
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2024-01-02T05:54:57.000000Z"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "zone_bm37E57"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Center of Singapore"
                                        },
                                        "service_area": { "nullable": true, "example": null },
                                        "status": {
                                            "type": "string",
                                            "example": "active"
                                        },
                                        "stroke_color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2024-01-02T05:54:57.000000Z"
                                        }
                                    }
                                },
                                "examples": {
                                    "Create a Zone": {
                                        "value": {
                                            "color": "<string>",
                                            "coordinates": [],
                                            "created_at": "2024-01-02T05:54:57.000000Z",
                                            "description": "<string>",
                                            "id": "zone_bm37E57",
                                            "name": "Center of Singapore",
                                            "service_area": null,
                                            "status": "active",
                                            "stroke_color": "<string>",
                                            "updated_at": "2024-01-02T05:54:57.000000Z"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/zones/{id}": {
            "get": {
                "tags": ["Zones"],
                "summary": "Retrieve a zone",
                "description": "This endpoint allows you to retrieve a zone object to view it's details.",
                "operationId": "retrieveAZone",
                "responses": {
                    "200": {
                        "description": "Delete a Zone",
                        "headers": {
                            "Access-Control-Allow-Credentials": {
                                "schema": { "type": "string", "example": "true" }
                            },
                            "Access-Control-Allow-Headers": {
                                "schema": {
                                    "type": "string",
                                    "example": "Content-Type, Authorization, Referer, User-Agent, Signature, Customer-Token, Access-Control-Request-Headers, Access-Control-Request-Method, Origin"
                                }
                            },
                            "Access-Control-Allow-Methods": {
                                "schema": { "type": "string", "example": "GET, OPTIONS" }
                            },
                            "Access-Control-Max-Age": {
                                "schema": { "type": "string", "example": "600" }
                            },
                            "Cache-Control": {
                                "schema": {
                                    "type": "string",
                                    "example": "no-cache, private"
                                }
                            },
                            "Connection": {
                                "schema": { "type": "string", "example": "keep-alive" }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 02 Jan 2024 06:08:57 GMT"
                                }
                            },
                            "Invalid": { "schema": { "type": "string", "example": "1" } },
                            "Server": {
                                "schema": { "type": "string", "example": "nginx" }
                            },
                            "Set-Cookie": {
                                "schema": {
                                    "type": "string",
                                    "example": "fleetbase_session=BZTQN5le6WBpsdEIXN5x9dJuLqtxL3hHlFoV8WTH; expires=Tue, 30-Jan-2024 06:08:57 GMT; Max-Age=2419200; path=/; domain=.fleetbase.io; httponly; samesite=lax"
                                }
                            },
                            "Transfer-Encoding": {
                                "schema": { "type": "string", "example": "chunked" }
                            },
                            "X-Frame-Options": {
                                "schema": { "type": "string", "example": "DENY" }
                            },
                            "X-RateLimit-Limit": { "schema": { "type": "string", "example": "60" } },
                            "X-RateLimit-Remaining": { "schema": { "type": "string", "example": "58" } }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "coordinates": {
                                            "type": "array",
                                            "items": {},
                                            "example": []
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2024-01-02T05:54:57.000000Z"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "zone_bm37E57"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Center of Singapore"
                                        },
                                        "service_area": { "nullable": true, "example": null },
                                        "status": {
                                            "type": "string",
                                            "example": "active"
                                        },
                                        "stroke_color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2024-01-02T05:54:57.000000Z"
                                        }
                                    }
                                },
                                "examples": {
                                    "Delete a Zone": {
                                        "value": {
                                            "color": "<string>",
                                            "coordinates": [],
                                            "created_at": "2024-01-02T05:54:57.000000Z",
                                            "description": "<string>",
                                            "id": "zone_bm37E57",
                                            "name": "Center of Singapore",
                                            "service_area": null,
                                            "status": "active",
                                            "stroke_color": "<string>",
                                            "updated_at": "2024-01-02T05:54:57.000000Z"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Zones"],
                "summary": "Update a Zone",
                "description": "You can update all properties of the Zone.\n\n",
                "operationId": "updateAZone",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "color": { "type": "string", "example": "#ff00000" }
                                }
                            },
                            "examples": {
                                "Update a Zone": { "value": { "color": "#ff00000" } }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "coordinates": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "service_area": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "stroke_color": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "color": "<string>",
                                            "coordinates": "<string>",
                                            "created_at": "<string>",
                                            "description": "<string>",
                                            "id": "<string>",
                                            "name": "<string>",
                                            "service_area": "<string>",
                                            "status": "<string>",
                                            "stroke_color": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Zones"],
                "summary": "Delete a Zone",
                "description": "Use this endpoint to delete a zone.",
                "operationId": "deleteAZone",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "deleted": {
                                            "type": "string",
                                            "example": "<boolean>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "deleted": "<boolean>",
                                            "id": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string", "example": "{{zone_id}}" },
                    "description": "(Required) The id of the zone you want to delete."
                }
            ]
        },
        "/contacts": {
            "get": {
                "tags": ["Contacts"],
                "summary": "Query Contacts",
                "description": "Returns a list of your contacts. The contacts are returned sorted by creation date, with the most recent customers appearing first.",
                "operationId": "queryContacts",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "schema": { "type": "string", "example": "{{contact_name}}" },
                        "description": "This parameter allows you to filter the results by their name."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": { "type": "string", "example": "25" },
                        "description": "A cursor for use in pagination. A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": { "type": "string", "example": "0" },
                        "description": "A cursor for use in pagination. A offset for the results, when the offset is supplied the results will start from the offset."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": { "type": "string", "example": "created_at" },
                        "description": "A cursor used to sort results. Sort can be any property of the object, to sort descending sort must append the minus symbol. To sort by created date descending sort would be `-created_at` to sort in ascending order the sort would be `created_at`."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "phone_country_code": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "slug": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "created_at": "<string>",
                                            "email": "<string>",
                                            "id": "<string>",
                                            "name": "<string>",
                                            "phone_country_code": "<string>",
                                            "phone_number": "<string>",
                                            "slug": "<string>",
                                            "title": "<string>",
                                            "type": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Contacts"],
                "summary": "Create a Contact",
                "description": "Create a new Contact.",
                "operationId": "createAContact",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "john@exampleco.com"
                                    },
                                    "name": { "type": "string", "example": "John Doe" },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1 563-920-4264"
                                    },
                                    "title": { "type": "string", "example": "Mr" },
                                    "type": { "type": "string", "example": "customer" }
                                }
                            },
                            "examples": {
                                "Create a Contact": {
                                    "value": {
                                        "email": "john@exampleco.com",
                                        "name": "John Doe",
                                        "phone": "+1 563-920-4264",
                                        "title": "Mr",
                                        "type": "customer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "phone_country_code": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "slug": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "created_at": "<string>",
                                            "email": "<string>",
                                            "id": "<string>",
                                            "name": "<string>",
                                            "phone_country_code": "<string>",
                                            "phone_number": "<string>",
                                            "slug": "<string>",
                                            "title": "<string>",
                                            "type": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts/{id}": {
            "get": {
                "tags": ["Contacts"],
                "summary": "Retrieve a Contact",
                "description": "Retrieve a Contact.",
                "operationId": "retrieveAContact",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "phone_country_code": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "slug": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "created_at": "<string>",
                                            "email": "<string>",
                                            "id": "<string>",
                                            "name": "<string>",
                                            "phone_country_code": "<string>",
                                            "phone_number": "<string>",
                                            "slug": "<string>",
                                            "title": "<string>",
                                            "type": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Contacts"],
                "summary": "Update a Contact",
                "description": "Update a Contact",
                "operationId": "updateAContact",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "john@exampleco.com"
                                    },
                                    "name": { "type": "string", "example": "John Doe" },
                                    "phone": {
                                        "type": "string",
                                        "example": "563-920-4264"
                                    },
                                    "slug": { "type": "string", "example": "john-doe" },
                                    "title": { "type": "string", "example": "Mr" },
                                    "type": {
                                        "type": "string",
                                        "example": "technician"
                                    }
                                }
                            },
                            "examples": {
                                "Update a Contact": {
                                    "value": {
                                        "email": "john@exampleco.com",
                                        "name": "John Doe",
                                        "phone": "563-920-4264",
                                        "slug": "john-doe",
                                        "title": "Mr",
                                        "type": "technician"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "created_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "phone_country_code": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "slug": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "created_at": "<string>",
                                            "email": "<string>",
                                            "id": "<string>",
                                            "name": "<string>",
                                            "phone_country_code": "<string>",
                                            "phone_number": "<string>",
                                            "slug": "<string>",
                                            "title": "<string>",
                                            "type": "<string>",
                                            "updated_at": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Contacts"],
                "summary": "Delete a Contact",
                "description": "Delete a Contact.",
                "operationId": "deleteAContact",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "deleted": {
                                            "type": "string",
                                            "example": "<boolean>"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "<string>"
                                        }
                                    }
                                },
                                "examples": {
                                    "OK": {
                                        "value": {
                                            "deleted": "<boolean>",
                                            "id": "<string>"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string", "example": "{{contact_id}}" }
                }
            ]
        },
        "/vendors": {
            "get": {
                "tags": ["Vendors"],
                "summary": "Query Vendors",
                "description": "This endpoint allows you to retrieve a vendor object to view it's details.",
                "operationId": "queryVendors",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "schema": { "type": "string", "example": "{{vendor_id}}" },
                        "description": "The id of the vendor you want to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "address": {
                                            "type": "string",
                                            "example": "<string>"
                                        },
                                        "created_at": {
                                            "type": "string",
[...]
